.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(3, minmax(auto, 1fr)); */
  padding-left: 4rem;
  font-family: 'Poppins';
}

.Quote {
  align-self: center;
  font-size: 3rem;
  text-align: left;
  color: var(--heading);
}

.Hero svg {
  width: 100%;
  justify-self: end;
}

.cta {
  font-size: 3rem;
  color: var(--card-bg);
  z-index: 999;
}

.ctaContainer * {
  z-index: 999;
}

.ctaQuote {
  font-size: 3rem;
  color: var(--red);
  margin: 50px 0 20px 0;
  font-weight: 300;
}


@media (max-width: 1200px) {
  .Quote {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .Hero {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
  }

  .BG {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .Quote {
    z-index: 3;
  }

  .ctaContainer * {
    z-index: 999;
  }
}

@media (max-width: 500px) {
  .ctaQuote {
    font-size: 2.4rem;
    margin: 10px;
  }

  .Hero svg {
    width: 100%;
    height: 100%;
  }

  .ctaContainer {
    padding: 20px;
  }
}