.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items:start;
  justify-items: stretch;
  gap: 3rem;
  padding: 0px 20px;
  list-style:none;
  margin-bottom: 30px;
}

.Cards p {
  font-size: 1.5rem;
}

.userCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: stretch;
  align-items: start;
  list-style: none;
  gap: 2rem;
}
.userCards li {
  margin: 20px 0;
}
.userCards p {
  font-size: 1.3rem;
}