.Filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 50px;
}

.Filters option {
  margin-left: 10px;
  color: var(--heading);
  cursor: pointer;
  font-weight: 300;
  font-size: 2rem;
}
.Filter button {
  z-index: 20;
}

.Filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  transform: translateX(-70px);
  margin-left: 30px;
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 2;
}

.Filters.slide {
  width: 100%;
  transform: translateX(0);
}