.Footer {
  font-size: 1.2rem;
  margin-top: 30px;
}
.Social {
  display: flex;
  place-content: center;
}
.Footer * {
  margin: 1px;
}
.Footer svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
}