:root {
  --heading: #AFC9D8;
  --background: #094067;
  --blue: #3DA9FC;
  --red: #FF6666;
  --card-bg: #FFFFFE;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}